include  nav  

block content 
 body 
  div 
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa dicta eveniet delectus repellat nesciunt sit! Autem iusto eius molestiae libero cupiditate et reprehenderit totam nulla, perspiciatis, illo qui veniam.
   p dolor sit, amet consectetur adipisicing elit. Quibusdam eum fugiat sint laudantium rem atque illum molestiae mollitia hic dicta, sit commodi maxime inventore, magnam blanditiis esse ab, earum dignissimos.
   p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, aspernatur ipsum. Cupiditate, nobis? Eos odit unde temporibus distinctio aspernatur doloremque. Quam mollitia odit incidunt quo quas laudantium eligendi, quibusdam officiis.
include foot 
block content 