include nav  

block content 
 body 
  div
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit sed cupiditate quod optio minus pariatur perspiciatis, non error est quam inventore vel neque dolor fugiat vitae aliquam blanditiis quasi.
   p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis distinctio neque rem totam, dolor hic ipsam assumenda. Obcaecati incidunt corporis sequi! Vitae odit aperiam veniam facilis laudantium culpa, quam laborum!
block content 
include foot