
doctype html 

html 

head 
  title home page 
  style
      include styles.css
  

header 
  nav 
   ul 
    li 
     a(href="/") Home 
    li 
     a(href="/services") Services 
    li 
     a(href="/contact") Contact 
      
block content     


block content 