include nav  

block content 
 body 
  div
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit sed cupiditate quod optio minus pariatur perspiciatis, non error est quam inventore vel neque dolor fugiat vitae aliquam blanditiis quasi.
   p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nostrum eum adipisci praesentium libero! Officiis, cum excepturi. Laborum, et tempora. Saepe quas voluptate aut fugiat dolor aperiam odio vitae adipisci!
block content 
include foot